.home{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Banner {
    /*This is for getting the picture darker*/
    display: flex;
    position: relative;
    text-align: center;
    color: #fff;
    justify-content: center;
    background: black;
  }
.Banner img {
    /*This is for getting the picture darker*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: auto;
    width: 100%;
    opacity: 0.3;
  }

  .bannerTxt{
      display:flex;
     align-items: center;
      flex-direction: column;
      position: absolute;
     z-index:1;
     color: #fff;
   
  }


