.resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resume-container h1 {
 font-style: italic;
 font-size: 3.5em;
}
.resume-education {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.resume-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.education {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.line {
  border: solid 1px;
  border-color: rgb(255, 226, 216);
  border-left: none;
  border-right: none;
  width: 60vw;
  height: 5px;
}

.resume-experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.work {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  margin-top: 20px;
}
