.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(48, 47, 47);
}


.mypic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 50px;
}

.about-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
 
}
.about-text h1 {
  font-weight: bold;
  margin-bottom: 20px;
}
.about-text p {
  margin-bottom: 50px;
}
